div.form-section {
  background-color: #FFFC33;
  height: 80%;
  width: 100%;
}
div.form-fields {
  background-color: #FEFBC2;
  height: 72%;
  margin-bottom: 18px;
  margin-left: 18px;
  padding: 1% 10% 2% 0;
  width: 87%;
}
a.help-tip {
  color: aliceblue;
  background-color: blue;
  margin: -4px;
  padding: 0px 6px 0px 6px;
}
.low {
  background-color: red;
  padding: 10px;
}
.high {
  background-color: purple;
  padding: 10px;
}
p {
  margin-bottom: 0px;
  padding-left: 4%;
}
label {
  display: inline-block;
  width: 15%;
  text-align: right;
}
input[type="number"] {
  width: 30px;
}
label[for="address"] {
  float: left;
}
